Repository hindsight-ai/hindsight-ai: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, service

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Let Codecov set a target based on repository history and fail on >1% drop
        target: auto
        threshold: 1%
    patch:
      default:
        # Ensure changed lines in PRs are well-tested
        target: 90%

flags:
  dashboard:
    paths:
      - apps/hindsight-dashboard/
  service:
    paths:
      - apps/hindsight-service/

ignore:
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/.pytest_cache/**"
  - "**/.nyc_output/**"

feat(beta-access): Implement beta access admin functionality
  README.md
  apps/hindsight-dashboard/src/App.tsx
  apps/hindsight-dashboard/src/api/authService.ts
  apps/hindsight-dashboard/src/api/betaAccessAdminService.ts
  apps/hindsight-dashboard/src/components/BetaAccessAdminPage.tsx
  apps/hindsight-service/core/api/auth.py
  apps/hindsight-service/core/api/beta_access.py
  apps/hindsight-service/core/api/deps.py
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/audit.py
  apps/hindsight-service/core/workers/consolidation_worker.py
  apps/hindsight-service/tests/conftest.py
  apps/hindsight-service/tests/unit/test_beta_access.py
  apps/hindsight-service/tests/unit/test_consolidation_worker_coverage.py
  docs/authentication_flow.md
Due: dashboard, service

feat: Add user privilege indicators for superadmin and beta access admin on ProfilePage and UserAccountButton components; include tests for new functionality
  apps/hindsight-dashboard/src/components/ProfilePage.tsx
  apps/hindsight-dashboard/src/components/UserAccountButton.tsx
  apps/hindsight-dashboard/src/components/__tests__/ProfilePage.test.tsx
  apps/hindsight-dashboard/src/components/__tests__/UserAccountButton.test.tsx
  apps/hindsight-service/.env.example
  apps/hindsight-service/README.md
Due: dashboard, service

feat: Implement DEV_MODE configuration and validation; enhance ProfilePage with privilege indicators and update related tests
  .github/workflows/tests.yml
  apps/hindsight-dashboard/src/components/ProfilePage.tsx
  apps/hindsight-dashboard/src/components/__tests__/ProfilePage.test.tsx
  apps/hindsight-service/.env.example
  apps/hindsight-service/README.md
  apps/hindsight-service/core/api/beta_access.py
  apps/hindsight-service/core/api/deps.py
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/utils/runtime.py
  apps/hindsight-service/docker-entrypoint.sh
  apps/hindsight-service/tests/e2e/run_migrations_e2e_ci.sh
  apps/hindsight-service/tests/unit/test_auth_deps.py
  apps/hindsight-service/tests/unit/test_beta_access.py
  apps/hindsight-service/tests/unit/test_main_user_info.py
  apps/hindsight-service/tests/unit/test_organization_access_control.py
  apps/hindsight-service/tests/unit/test_runtime_env.py
  check_env.sh
  docker-compose.dev.yml
  docs/requirements.md
  start_hindsight.sh
Due: dashboard, service

feat: Add local fallback mechanism for API requests in development environment
  apps/hindsight-dashboard/src/api/http.ts
Due: dashboard

fix: exit guest mode before oauth sign-in
  apps/hindsight-dashboard/src/components/LoginPage.tsx
  apps/hindsight-dashboard/src/components/UserAccountButton.tsx
Due: dashboard

fix: ensure admin env secrets propagate during deploy
  .env.example
  .github/workflows/deploy.yml
  check_env.sh
Due: none

fix: hide beta admin tools behind not-found response
  apps/hindsight-dashboard/src/App.tsx
  apps/hindsight-dashboard/src/components/NotFoundPage.tsx
Due: dashboard

fix: retroactively promote admin emails to superadmin
  apps/hindsight-service/core/api/auth.py
Due: service

fix: mimic oauth2 headers in dev mode
  apps/hindsight-dashboard/src/api/http.ts
  apps/hindsight-dashboard/src/utils/devMode.ts
Due: dashboard

fix: strip quotes from admin email env vars
  apps/hindsight-service/core/api/auth.py
Due: service

chore: add debug logging for admin email promotion
  apps/hindsight-service/core/api/auth.py
Due: service

chore: allow LOG_LEVEL env override for api service
  apps/hindsight-service/core/api/main.py
Due: service

chore: add dev-mode diagnostics and ensure local auth headers
  apps/hindsight-dashboard/src/api/http.ts
  apps/hindsight-dashboard/src/utils/devMode.ts
  apps/hindsight-service/core/utils/runtime.py
Due: dashboard, service

chore: align vite dev mode with backend dev flag
  apps/hindsight-dashboard/src/components/UserAccountButton.tsx
  docker-compose.dev.yml
Due: dashboard

chore: allow oauth2-proxy without email allowlist
  docker-compose.app.yml
  docker-compose.yml
Due: none

feat: Implement feature flags for LLM and related functionalities
  .env.example
  .github/workflows/deploy.yml
  apps/hindsight-dashboard/docker-entrypoint.sh
  apps/hindsight-dashboard/src/api/authService.ts
  apps/hindsight-dashboard/src/components/ArchivedMemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/CompactionSettingsModal.tsx
  apps/hindsight-dashboard/src/components/ConsolidationSuggestions.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockCard.tsx
  apps/hindsight-dashboard/src/components/MemoryBlocksPage.tsx
  apps/hindsight-dashboard/src/components/MemoryCompactionModal.tsx
  apps/hindsight-dashboard/src/components/MemoryOptimizationCenter.tsx
  apps/hindsight-dashboard/src/components/PruningSuggestions.tsx
  apps/hindsight-dashboard/src/components/Sidebar.tsx
  apps/hindsight-dashboard/src/components/__tests__/ConsolidationSuggestions.scopeRefresh.test.tsx
  apps/hindsight-dashboard/src/components/__tests__/MemoryBlocksPage.scopeRefresh.test.tsx
  apps/hindsight-dashboard/src/context/AuthContext.tsx
  apps/hindsight-dashboard/src/utils/__tests__/featureFlags.test.ts
  apps/hindsight-dashboard/src/utils/featureFlags.ts
  apps/hindsight-service/core/api/consolidation.py
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/utils/feature_flags.py
  apps/hindsight-service/tests/integration/bulk_operations/test_bulk_operations_worker.py
  apps/hindsight-service/tests/integration/organizations/test_invitation_resend.py
  apps/hindsight-service/tests/integration/organizations/test_member_addition_regression.py
  apps/hindsight-service/tests/integration/organizations/test_member_notifications.py
  apps/hindsight-service/tests/unit/test_async_bulk_operations.py
  apps/hindsight-service/tests/unit/test_email_service.py
  apps/hindsight-service/tests/unit/test_email_service_config_and_sync.py
  apps/hindsight-service/tests/unit/test_email_service_unit.py
  apps/hindsight-service/tests/unit/test_email_service_unit_attachments.py
  apps/hindsight-service/tests/unit/test_feature_flags.py
  apps/hindsight-service/tests/unit/test_notification_service.py
  apps/hindsight-service/tests/unit/test_notification_service_unit_extra.py
  apps/hindsight-service/tests/unit/test_transactional_email_service_extra.py
  apps/hindsight-service/tests/unit/test_transactional_email_service_providers.py
  docker-compose.app.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: dashboard, service

feat: Add OAUTH2_PROXY_EMAIL_DOMAINS environment variable for email domain configuration
  .env.example
  .github/workflows/deploy.yml
  docker-compose.app.yml
  docker-compose.yml
Due: none

chore: Update Dockerfile to install curl and set PATH for uv tool
  apps/hindsight-service/Dockerfile
Due: service

feat: Update authentication flow documentation to reflect OAUTH2_PROXY_EMAIL_DOMAINS configuration for Google account access
  docs/authentication_flow.md
  docs/requirements.md
Due: none

Implement code changes to enhance functionality and improve performance
  hindsight_db_backups/data/hindsight_db_backup_20250918_010954_6b3f2b7f1c23.sql
Due: none

feat: Add database backup and restore instructions to documentation
  README.md
  docs/requirements.md
Due: none

feat: Remove obsolete backup and restore scripts for PostgreSQL in K3s cluster
  infra/scripts/backup-script-for-k8s.sh
  infra/scripts/restore-script-for-k8s.sh
Due: none

feat: Remove CI tests workflow configuration from GitHub Actions
  .github/workflows/tests.yml
Due: none

feat: Enhance database backup and restore scripts with dry-run option and improved error handling
  .github/workflows/deploy.yml
  README.md
  docs/requirements.md
  infra/scripts/backup_db.sh
  infra/scripts/restore_db.sh
Due: none

feat: Update email configuration to use JSON format for secrets
  .github/workflows/deploy.yml
Due: none

feat: Improve backup selection logic in restore_db.sh to handle missing files
  infra/scripts/restore_db.sh
Due: none

feat: Add ADMIN_EMAILS and BETA_ACCESS_ADMINS environment variables to docker-compose files
  docker-compose.app.yml
  docker-compose.yml
Due: none

feat: Enhance error messages for organization restriction mismatches in PAT validation
  apps/hindsight-service/core/api/deps.py
  apps/hindsight-service/core/api/main.py
Due: service

feat: Add client configuration documentation and update package version to 1.0.0
  README.md
  mcp-servers/hindsight-mcp/README.md
  mcp-servers/hindsight-mcp/docs/client-config.json
  mcp-servers/hindsight-mcp/package-lock.json
  mcp-servers/hindsight-mcp/package.json
  mcp-servers/hindsight-mcp/scripts/generate-docs.js
  mcp-servers/hindsight-mcp/src/index.ts
Due: none

Update README for Hindsight API configuration and tests
  mcp-servers/hindsight-mcp/README.md
Due: none

feat(search): snippets in results and /search/suggestions endpoint (additive, scope-aware)
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/db/schemas/memory.py
  apps/hindsight-service/core/services/search_service.py
Due: service

feat(memory): export (json/csv), bulk change scope, pin/unpin via metadata
  apps/hindsight-service/core/api/memory_blocks.py
Due: service

feat(keywords): include_counts, trending and popular endpoints (scope-aware)
  apps/hindsight-service/core/api/keywords.py
Due: service

feat(notifications): since filter for incremental fetch and mark-all-read endpoint
  apps/hindsight-service/core/api/notifications.py
  apps/hindsight-service/core/services/notification_service.py
Due: service

feat(beta-access): richer status, stuck pending listing, and resend review token
  apps/hindsight-service/core/api/beta_access.py
Due: service

feat: Enhance UI with RefreshIndicator and PageHeaderContext
  apps/hindsight-dashboard/src/components/ConsolidationSuggestions.tsx
  apps/hindsight-dashboard/src/components/Dashboard.tsx
  apps/hindsight-dashboard/src/components/KeywordManager.tsx
  apps/hindsight-dashboard/src/components/LastUpdatedLabel.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/MemoryBlocksPage.tsx
  apps/hindsight-dashboard/src/components/RefreshIndicator.tsx
  apps/hindsight-dashboard/src/context/PageHeaderContext.tsx
  apps/hindsight-dashboard/src/hooks/usePageHeader.ts
Due: dashboard

feat: Add fallback mechanism to usePageHeader for improved context handling
  apps/hindsight-dashboard/src/hooks/usePageHeader.ts
Due: dashboard

feat: Enhance frontend and backend functionality with various improvements and new features
  apps/hindsight-dashboard/index.html
  apps/hindsight-dashboard/src/components/AgentManagementPage.tsx
  apps/hindsight-dashboard/src/components/DebugPanel.tsx
  apps/hindsight-dashboard/src/components/Layout.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockCard.tsx
  apps/hindsight-dashboard/src/components/NotificationBell.tsx
  apps/hindsight-dashboard/src/components/OrganizationSwitcher.tsx
  apps/hindsight-dashboard/src/components/Sidebar.tsx
  apps/hindsight-dashboard/src/components/StatCard.tsx
  apps/hindsight-dashboard/src/index.css
  apps/hindsight-service/core/api/beta_access.py
  apps/hindsight-service/core/db/repositories/beta_access.py
  restart_frontend_dev.sh
Due: dashboard, service

feat: Refactor KeywordManager and MainContent for improved keyword fetching and layout consistency
  apps/hindsight-dashboard/src/components/KeywordManager.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
Due: dashboard

feat(ui): align header refresh controls
  apps/hindsight-dashboard/src/components/AgentManagementPage.tsx
  apps/hindsight-dashboard/src/components/AnalyticsPage.tsx
  apps/hindsight-dashboard/src/components/ArchivedMemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/KeywordManager.tsx
  apps/hindsight-dashboard/src/components/RefreshIndicator.tsx
Due: dashboard
