Repository hindsight-ai/hindsight-ai: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, service

fix: update version number to 1.1.3 in package.json and package-lock.json
  mcp-servers/hindsight-mcp/package-lock.json
  mcp-servers/hindsight-mcp/package.json
Due: none

test(security): add E2E reproduction of data-leak audit findings
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: none

fix(search): remove guest basic-search bypass for known agent_id (F1)
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: service

fix(bulk-delete): require source-org membership for dry-run (F6)
  apps/hindsight-service/core/api/bulk_operations.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: service

fix(user-info): drop Host-header local-dev fallback (D)
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: service

fix(search): drop unscoped legacy fallback in retrieve_relevant_memories (F3)
  apps/hindsight-service/core/db/repositories/memory_blocks.py
  apps/hindsight-service/tests/integration/memory_blocks/test_memory_blocks_advanced.py
Due: service

fix(bulk-move): require recipient consent and update visibility_scope (B)
  apps/hindsight-service/core/api/bulk_operations.py
  apps/hindsight-service/core/async_bulk_operations.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
  apps/hindsight-service/tests/unit/test_bulk_ops_api_smoke.py
Due: service

fix(consolidation): reject cross-owner suggestions and require write on every original (A)
  apps/hindsight-service/core/api/consolidation.py
  apps/hindsight-service/core/db/crud.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: service

fix(auth): bind external_subject and refuse mismatched re-login (F2)
  apps/hindsight-service/core/api/agents.py
  apps/hindsight-service/core/api/auth.py
  apps/hindsight-service/core/api/deps.py
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/api/memory_blocks.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
  apps/hindsight-service/tests/integration/memory_blocks/test_consolidation_suggestions.py
Due: service

refactor(auth): centralise IdentityMismatchError handling at FastAPI layer
  apps/hindsight-service/core/api/agents.py
  apps/hindsight-service/core/api/deps.py
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/api/memory_blocks.py
Due: service

fix(bulk-move): require source-org membership for dry-run (B asymmetry)
  apps/hindsight-service/core/api/bulk_operations.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: service

fix(scope): treat id-less user_ctx as guest (E)
  apps/hindsight-service/core/db/scope_utils.py
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: service

test(security): tighten regression guards (test-quality + failure-mode review)
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
Due: none

fix(deploy): pin oauth2-proxy user-id-claim and dev compose env
  apps/hindsight-service/core/api/auth.py
  docker-compose.app.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: service

fix(auth): unique index + row lock around F2 TOFU bind
  apps/hindsight-service/core/api/auth.py
  apps/hindsight-service/migrations/versions/2026042900_users_external_subject_unique.py
Due: service

ops: pre-deploy probe + admin rebind script for security branch
  apps/hindsight-service/scripts/rebind_user_subject.py
  apps/hindsight-service/tests/e2e/test_security_audit_data_leak.py
  scripts/security_pre_deploy_checks.sh
Due: service

test: derive X-Auth-Request-User from email in shared fixtures
  apps/hindsight-service/tests/integration/keywords/test_keywords_api.py
  apps/hindsight-service/tests/integration/organizations/test_organizations_api.py
Due: none

fix(test-conftest): use SAVEPOINT join mode so inner commits don't leak
  apps/hindsight-service/tests/conftest.py
Due: none

fix(test-auth-deps): wire local FastAPI apps to test session
  apps/hindsight-service/tests/unit/test_auth_deps.py
Due: none

feat(dashboard): reintroduce About Hindsight AI dialog
  apps/hindsight-dashboard/src/components/AboutModal.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
  apps/hindsight-dashboard/src/components/UserAccountButton.tsx
  apps/hindsight-dashboard/src/components/__tests__/UserAccountButton.test.tsx
  docs/rfcs/0001-about-dialog-entry-point.md
Due: dashboard

fix(compose): wire VITE build args into hindsight-dashboard (RFC 0002 L4)
  docker-compose.dev.yml
Due: none

fix(dashboard): map /tokens and /memory-optimization-center page titles (RFC 0002 H3)
  apps/hindsight-dashboard/src/App.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
Due: dashboard

feat(dashboard): add Button primitive and migrate /agents CTAs (RFC 0002 M6)
  apps/hindsight-dashboard/src/components/AgentManagementPage.tsx
  apps/hindsight-dashboard/src/components/Button.tsx
  apps/hindsight-dashboard/src/components/__tests__/Button.test.tsx
Due: dashboard

docs(rfc-0002): add implementation status table
  docs/rfcs/0002-ui-ux-audit.md
Due: none

fix(dashboard): decouple GetStarted seen-flag from dismissal + add Esc/backdrop (RFC 0002 H4 + M5)
  apps/hindsight-dashboard/src/App.tsx
  apps/hindsight-dashboard/src/components/GetStartedModal.tsx
  apps/hindsight-dashboard/src/components/__tests__/GetStartedModal.test.tsx
Due: dashboard

fix(dashboard): restyle Add{Keyword,MemoryBlock}Modal with Tailwind (RFC 0002 H1+H2 — modals)
  apps/hindsight-dashboard/src/components/AddKeywordModal.tsx
  apps/hindsight-dashboard/src/components/AddMemoryBlockModal.tsx
  apps/hindsight-dashboard/src/components/Button.tsx
  apps/hindsight-dashboard/src/components/__tests__/Button.test.tsx
Due: dashboard

docs(rfc-0002): refresh status table — H1+H2-modals merged, integration tip up to date
  docs/rfcs/0002-ui-ux-audit.md
Due: none

fix(dashboard): restyle MemoryBlockList + Consolidation* + PruningSuggestions with Tailwind (RFC 0002 H1+H2 — pages)
  apps/hindsight-dashboard/src/components/ConsolidationSuggestionDetail.tsx
  apps/hindsight-dashboard/src/components/ConsolidationSuggestions.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/PruningSuggestions.tsx
Due: dashboard

fix(dashboard): correct pruning-score badge color mapping
  apps/hindsight-dashboard/src/components/PruningSuggestions.tsx
Due: dashboard

docs(rfc-0002): mark H1+H2 pages half merged (#57)
  docs/rfcs/0002-ui-ux-audit.md
Due: none

fix(dashboard): rewrite scroll model — document scrolls, header is sticky (RFC 0002 M1)
  apps/hindsight-dashboard/src/components/Layout.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockDetailModal.tsx
  apps/hindsight-dashboard/src/components/MemoryCompactionModal.tsx
  apps/hindsight-dashboard/src/components/MemoryCompressionModal.tsx
  apps/hindsight-dashboard/src/components/MemoryOptimizationCenter.tsx
  apps/hindsight-dashboard/src/components/NotificationDropdown.tsx
  apps/hindsight-dashboard/src/components/OrganizationManagement.tsx
  apps/hindsight-dashboard/src/components/OrganizationSwitcher.tsx
Due: dashboard

fix(dashboard): unblock document scroll + extend overscroll-contain to all modal scrollers
  apps/hindsight-dashboard/src/components/AboutModal.tsx
  apps/hindsight-dashboard/src/components/AddMemoryBlockModal.tsx
  apps/hindsight-dashboard/src/components/AgentDetailsModal.tsx
  apps/hindsight-dashboard/src/components/CompactionSettingsModal.tsx
  apps/hindsight-dashboard/src/components/ConsolidationSuggestionModal.tsx
  apps/hindsight-dashboard/src/components/GetStartedModal.tsx
  apps/hindsight-dashboard/src/components/KeywordManager.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockDetailModal.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockPreviewModal.tsx
  apps/hindsight-dashboard/src/components/MemoryCompactionModal.tsx
  apps/hindsight-dashboard/src/components/MemoryCompressionModal.tsx
  apps/hindsight-dashboard/src/components/MemoryOptimizationCenter.tsx
  apps/hindsight-dashboard/src/components/NotificationSettingsModal.tsx
  apps/hindsight-dashboard/src/components/OrganizationManagement.tsx
  apps/hindsight-dashboard/src/components/Sidebar.tsx
  apps/hindsight-dashboard/src/index.css
Due: dashboard

fix(dashboard): responsive sweep — OrgSwitcher truncate, Tokens table mobile gutters, Sidebar drawer cap (RFC 0002 M2 + M3 + M4)
  apps/hindsight-dashboard/src/components/Layout.tsx
  apps/hindsight-dashboard/src/components/OrganizationSwitcher.tsx
  apps/hindsight-dashboard/src/components/Sidebar.tsx
  apps/hindsight-dashboard/src/components/TokenManagement.tsx
Due: dashboard

fix(dashboard): drop role=dialog/aria-modal on sidebar; revert width bump (RFC 0002 review)
  apps/hindsight-dashboard/src/components/Layout.tsx
  apps/hindsight-dashboard/src/components/Sidebar.tsx
Due: dashboard

fix(dashboard): wrap MemoryOptimizationCenter header on mobile (audit follow-up)
  apps/hindsight-dashboard/src/components/MemoryOptimizationCenter.tsx
Due: dashboard

docs(rfc-0002): mark integration audit-clean, ready to promote
  docs/rfcs/0002-ui-ux-audit.md
Due: none

docs(system-models): scaffold MBSE views + architecture smell backlog
  docs/system-models/00-context.md
  docs/system-models/01-structural.md
  docs/system-models/02-behavioral.md
  docs/system-models/03-interfaces.md
  docs/system-models/04-data.md
  docs/system-models/05-deployment.md
  docs/system-models/06-smells/README.md
  docs/system-models/06-smells/findings/01-dependency-graph.md
  docs/system-models/06-smells/findings/02-module-interfaces.md
  docs/system-models/06-smells/findings/03-api-surface.md
  docs/system-models/06-smells/findings/04-state-machines.md
  docs/system-models/06-smells/findings/05-architecture-smells.md
  docs/system-models/06-smells/findings/06-architecture-drift.md
  docs/system-models/06-smells/findings/07-boundary-critique.md
  docs/system-models/README.md
Due: none

chore(arch): purge ~3,100 LOC of dead components and shims (#65)
  apps/hindsight-dashboard/src/components/AddAgentDialog.css
  apps/hindsight-dashboard/src/components/AddAgentDialog.tsx
  apps/hindsight-dashboard/src/components/AddKeywordModal.tsx
  apps/hindsight-dashboard/src/components/AddMemoryBlockModal.tsx
  apps/hindsight-dashboard/src/components/FloatingActionButton.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockList.css
  apps/hindsight-dashboard/src/components/MemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockTable_new.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockTable_old.tsx
  apps/hindsight-dashboard/src/components/MemoryCompressionModal.tsx
  apps/hindsight-dashboard/src/components/OrgSwitcher.tsx
  apps/hindsight-dashboard/src/components/QuickCreateTokenModal.tsx
  apps/hindsight-service/core/api/orgs_fixed.py
  apps/hindsight-service/core/workers/async_bulk_operations.py
  apps/hindsight-service/tests/unit/test_workers_shim.py
Due: dashboard, service

refactor(search): migrate 7 sites off core.search shim and delete it (#66)
  apps/hindsight-service/core/db/crud.py
  apps/hindsight-service/core/db/repositories/memory_blocks.py
  apps/hindsight-service/core/search/__init__.py
  apps/hindsight-service/core/search/evaluation.py
  apps/hindsight-service/tests/unit/test_crud_query_expansion.py
Due: service

Path conditions:
  dashboard: any of: apps/hindsight-dashboard/, but not: **/tests/**, **/node_modules/**, **/.venv/**, **/.pytest_cache/**, **/.nyc_output/**
  service: any of: apps/hindsight-service/, but not: **/tests/**, **/node_modules/**, **/.venv/**, **/.pytest_cache/**, **/.nyc_output/**
