Repository hindsight-ai/hindsight-ai: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, service

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Let Codecov set a target based on repository history and fail on >1% drop
        target: auto
        threshold: 1%
    patch:
      default:
        # Ensure changed lines in PRs are well-tested
        target: 90%

flags:
  dashboard:
    paths:
      - apps/hindsight-dashboard/
  service:
    paths:
      - apps/hindsight-service/

ignore:
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/.venv/**"
  - "**/.pytest_cache/**"
  - "**/.nyc_output/**"

feat(archived): redesign archived memories
  apps/hindsight-dashboard/src/components/ArchivedMemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/ArchivedMemoryCard.tsx
Due: dashboard

feat(ui): unify filters across memory pages
  apps/hindsight-dashboard/src/components/ArchivedMemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/ArchivedMemoryCard.tsx
  apps/hindsight-dashboard/src/components/MemoryBlocksPage.tsx
Due: dashboard

fix(archived): show pointer cursor on cards
  apps/hindsight-dashboard/src/components/ArchivedMemoryCard.tsx
Due: dashboard

fix(memory): restore sort state
  apps/hindsight-dashboard/src/components/MemoryBlocksPage.tsx
Due: dashboard

fix(ui): align filters and search styling
  apps/hindsight-dashboard/src/components/ArchivedMemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/MemoryBlocksPage.tsx
  apps/hindsight-dashboard/src/index.css
Due: dashboard

fix(filters): adjust search icon and active chips
  apps/hindsight-dashboard/src/components/ArchivedMemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/MemoryBlocksPage.tsx
  apps/hindsight-dashboard/src/index.css
Due: dashboard

feat(filters): implement conversation ID validation and sanitization across components
  apps/hindsight-dashboard/src/components/ArchivedMemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/ArchivedMemoryCard.tsx
  apps/hindsight-dashboard/src/components/MemoryBlockList.tsx
  apps/hindsight-dashboard/src/components/MemoryBlocksPage.tsx
  apps/hindsight-dashboard/src/components/__tests__/ArchivedMemoryBlockList.filters.test.tsx
  apps/hindsight-dashboard/src/components/__tests__/ArchivedMemoryCard.test.tsx
  apps/hindsight-dashboard/src/components/__tests__/MemoryBlocksPage.filters.test.tsx
  apps/hindsight-dashboard/src/utils/uuid.ts
Due: dashboard

fix(filters): enhance search functionality with active filter display and clear option
  apps/hindsight-dashboard/src/components/AgentManagementPage.tsx
  apps/hindsight-dashboard/src/components/KeywordManager.tsx
Due: dashboard

feat(GetStartedModal): add Get Started modal component and integrate with app layout
  apps/hindsight-dashboard/src/App.tsx
  apps/hindsight-dashboard/src/components/GetStartedModal.tsx
  apps/hindsight-dashboard/src/components/Layout.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
  apps/hindsight-dashboard/src/components/__tests__/GetStartedModal.test.tsx
Due: dashboard

Revert "feat(GetStartedModal): add Get Started modal component and integrate with app layout"
  apps/hindsight-dashboard/src/App.tsx
  apps/hindsight-dashboard/src/components/GetStartedModal.tsx
  apps/hindsight-dashboard/src/components/Layout.tsx
  apps/hindsight-dashboard/src/components/MainContent.tsx
  apps/hindsight-dashboard/src/components/__tests__/GetStartedModal.test.tsx
Due: dashboard

fix(GetStartedModal): update snippet rendering to improve layout and accessibility
  apps/hindsight-dashboard/src/components/GetStartedModal.tsx
  apps/hindsight-dashboard/src/components/__tests__/GetStartedModal.test.tsx
Due: dashboard

feat(clipboard): implement copy to clipboard functionality with notifications in AgentDetailsModal and AgentManagementPage
  apps/hindsight-dashboard/src/components/AgentDetailsModal.tsx
  apps/hindsight-dashboard/src/components/AgentManagementPage.tsx
  apps/hindsight-dashboard/src/components/__tests__/AgentDetailsModal.rgb.test.tsx
  apps/hindsight-dashboard/src/components/__tests__/AgentManagementPage.copy.rgb.test.tsx
Due: dashboard

fix(deploy): add Docker resource pruning before shutdown
  .github/workflows/deploy.yml
Due: none

Add embedding backfill tooling and pgvector integration
  SEARCH-IMPLEMENTATION-PLAN.md
  apps/hindsight-service/README.md
  apps/hindsight-service/core/__init__.py
  apps/hindsight-service/core/api/beta_access.py
  apps/hindsight-service/core/db/models/memory.py
  apps/hindsight-service/core/db/repositories/memory_blocks.py
  apps/hindsight-service/core/db/schemas/memory.py
  apps/hindsight-service/core/db/types.py
  apps/hindsight-service/core/services/__init__.py
  apps/hindsight-service/core/services/beta_access_service.py
  apps/hindsight-service/core/services/embedding_service.py
  apps/hindsight-service/migrations/versions/8c0f1b2d4a6b_switch_content_embedding_to_pgvector.py
  apps/hindsight-service/pyproject.toml
  apps/hindsight-service/scripts/backfill_embeddings.py
  apps/hindsight-service/tests/integration/memory_blocks/test_memory_embeddings.py
  apps/hindsight-service/tests/unit/test_backfill_script.py
  apps/hindsight-service/tests/unit/test_db_types.py
  apps/hindsight-service/tests/unit/test_embedding_service_unit.py
  apps/hindsight-service/uv.lock
Due: service

chore: add embedding backfill instrumentation and smoke test
  SEARCH-IMPLEMENTATION-PLAN.md
  apps/hindsight-service/core/services/embedding_service.py
  apps/hindsight-service/scripts/backfill_embeddings.py
  apps/hindsight-service/tests/integration/test_backfill_script_cli.py
Due: service

feat: wire semantic memory search with vector similarity
  SEARCH-IMPLEMENTATION-PLAN.md
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/db/crud.py
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/tests/integration/search/test_search_api.py
  apps/hindsight-service/tests/unit/test_search_service.py
Due: service

feat(search): implement hybrid ranking heuristics
  SEARCH-IMPLEMENTATION-PLAN.md
  apps/hindsight-service/README.md
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/db/schemas/memory.py
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/tests/integration/search/test_search_api.py
  apps/hindsight-service/tests/integration/search/test_search_hybrid.py
  apps/hindsight-service/tests/unit/test_search_service.py
Due: service

docs(search): resolve hybrid plan conflict
  SEARCH-IMPLEMENTATION-PLAN.md
Due: none

feat(search): add query expansion pipeline and evaluation harness
  SEARCH-IMPLEMENTATION-PLAN.md
  apps/hindsight-service/README.md
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/db/crud.py
  apps/hindsight-service/core/search/evaluation.py
  apps/hindsight-service/core/services/__init__.py
  apps/hindsight-service/core/services/query_expansion.py
  apps/hindsight-service/scripts/run_query_expansion_evaluation.py
  apps/hindsight-service/tests/integration/search/test_query_expansion_eval.py
  apps/hindsight-service/tests/unit/conftest.py
  apps/hindsight-service/tests/unit/test_crud_query_expansion.py
  apps/hindsight-service/tests/unit/test_query_expansion_engine.py
Due: service

docs(search): add retrieval overview reference
  apps/hindsight-service/README.md
  docs/search-retrieval-overview.md
Due: service

refactor(memory): route agent search through SearchService
  SEARCH-IMPLEMENTATION-PLAN.md
  apps/hindsight-service/core/api/memory_blocks.py
  apps/hindsight-service/core/db/crud.py
  apps/hindsight-service/core/db/repositories/memory_blocks.py
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/tests/integration/memory_blocks/test_memory_blocks_api.py
Due: service

test(migrations): verify upgrade/downgrade cycle
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/migrations/versions/39b55ecbd958_add_notification_system_tables.py
  apps/hindsight-service/tests/integration/migrations/test_alembic_migrations.py
Due: service

Enhance semantic search defaults and fix dev mode superadmin
  .env.example
  .github/workflows/deploy.yml
  SEARCH-IMPLEMENTATION-PLAN.md
  apps/hindsight-service/README.md
  apps/hindsight-service/core/api/deps.py
  apps/hindsight-service/core/api/main.py
  apps/hindsight-service/core/api/memory_blocks.py
  apps/hindsight-service/core/db/crud.py
  apps/hindsight-service/core/db/repositories/memory_blocks.py
  apps/hindsight-service/core/db/types.py
  apps/hindsight-service/core/services/embedding_service.py
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/tests/integration/memory_blocks/test_memory_blocks_api.py
  docker-compose.app.yml
  docker-compose.dev.yml
  docker-compose.yml
  start_hindsight.sh
  stop_hindsight.sh
Due: service

Improve pgvector test setup and add semantic unit coverage
  apps/hindsight-service/tests/conftest.py
  apps/hindsight-service/tests/e2e/utils_pg.py
  apps/hindsight-service/tests/unit/test_embedding_service.py
  apps/hindsight-service/tests/unit/test_search_service_semantic.py
Due: none

Skip migration e2e tests unless explicitly enabled
  apps/hindsight-service/tests/e2e/test_migrations_stepwise.py
Due: none

Stabilize Alembic migration integration test with isolated pgvector
  apps/hindsight-service/tests/conftest.py
  apps/hindsight-service/tests/integration/migrations/test_alembic_migrations.py
Due: none

Improve semantic search fallbacks and expose pgvector guard
  apps/hindsight-service/core/db/types.py
  apps/hindsight-service/core/services/search_service.py
  apps/hindsight-service/tests/unit/test_search_service.py
Due: service

feat: harden query expansion defaults
  .env.example
  .github/workflows/deploy.yml
  apps/hindsight-service/README.md
  apps/hindsight-service/core/services/query_expansion.py
  apps/hindsight-service/tests/unit/test_query_expansion_engine.py
Due: service

Improve Ollama smoke tests in deploy
  .env.example
  .github/workflows/deploy.yml
  apps/hindsight-service/README.md
  apps/hindsight-service/core/db/crud.py
  apps/hindsight-service/core/services/query_expansion.py
  apps/hindsight-service/scripts/run_query_expansion_evaluation.py
  apps/hindsight-service/tests/unit/test_crud_query_expansion.py
  apps/hindsight-service/tests/unit/test_query_expansion_engine.py
  docs/search-retrieval-overview.md
Due: service

refactor: streamline test command execution and improve help output
  .github/workflows/deploy.yml
  apps/hindsight-service/run_tests.sh
Due: service

fix: update query expansion configuration to use Ollama provider
  .env.example
Due: none

docs: update embedding backfill instructions
  apps/hindsight-service/README.md
  docs/search-retrieval-overview.md
Due: service

refactor: update conversation ID handling and improve documentation in MCP server
  apps/hindsight-dashboard/src/components/GetStartedModal.tsx
  mcp-servers/hindsight-mcp/README.md
  mcp-servers/hindsight-mcp/docs/client-config.json
  mcp-servers/hindsight-mcp/package-lock.json
  mcp-servers/hindsight-mcp/package.json
  mcp-servers/hindsight-mcp/src/index.ts
Due: dashboard

feat: add CLI version command and update package version to 1.0.4
  mcp-servers/hindsight-mcp/README.md
  mcp-servers/hindsight-mcp/package-lock.json
  mcp-servers/hindsight-mcp/package.json
  mcp-servers/hindsight-mcp/src/index.ts
Due: none

feat(cli): add checklist command
  mcp-servers/hindsight-mcp/README.md
  mcp-servers/hindsight-mcp/src/checklists/captureChecklist.ts
  mcp-servers/hindsight-mcp/src/index.ts
Due: none

feat(mcp): add capture checklist tool
  mcp-servers/hindsight-mcp/README.md
  mcp-servers/hindsight-mcp/src/index.ts
Due: none

fix: update description for show_capture_checklist tool to clarify its purpose
  mcp-servers/hindsight-mcp/src/index.ts
Due: none

fix: update version number to 1.1.0 in package.json and package-lock.json
  mcp-servers/hindsight-mcp/package-lock.json
  mcp-servers/hindsight-mcp/package.json
Due: none

fix: update version number to 1.1.1 in package.json and package-lock.json
  mcp-servers/hindsight-mcp/package-lock.json
  mcp-servers/hindsight-mcp/package.json
Due: none

fix: update version number to 1.1.2 in package.json and package-lock.json; add version check in main function
  mcp-servers/hindsight-mcp/package-lock.json
  mcp-servers/hindsight-mcp/package.json
  mcp-servers/hindsight-mcp/src/index.ts
Due: none
